!/zipp-meta-toolbox/Assets
!/zipp-meta-toolbox/Packages
!/zipp-meta-toolbox/ProjectSettings
zipp-meta-toolbox/Library/
zipp-meta-toolbox/Logs/
zipp-meta-toolbox/UserSettings/
zipp-meta-toolbox/Temp/
zipp-meta-toolbox/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
zipp-meta-toolbox/obj/Debug/DOTween.Modules.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/DOTweenPro.EditorScripts.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/DOTweenPro.Scripts.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/RTLTMPro.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/RTLTMPro-Editor.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/RTLTMPro-Tests.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/Zenject.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/Zenject-Editor.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/Zenject-IntegrationTests.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/Zenject-IntegrationTests-Editor.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/Zenject-PoolMonitor-Editor.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/Zenject-ReflectionBaking-Editor.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/Zenject-TestFramework.csproj.AssemblyReference.cache
zipp-meta-toolbox/obj/Debug/Zenject-UnitTests-Editor.csproj.AssemblyReference.cache
zipp-meta-toolbox/.vsconfig
